import java.util.Scanner;

class Desafio2 {  
  	public static void main(String args []) {
		String name = ("Ana Aretusa Lima dos Santos");
		String nacionalidad = ("Brasileira");
		String bigdream = ("To be a world-recognized professional");

		System.out.println("My Name is: " + name);
		System.out.println("My Nacionalidad is: " + nacionalidad);
		System.out.println("My Biggest dream is: " + bigdream);		
	}

}  
